.font-color-gray {
    color: gray;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background-image: 
        linear-gradient(to bottom,
        #009688 0px,
        #009688 15vh,
        #dddbd1 15vh,
        #d2dbdc 100%);
}

.container.wrapper {
    height: 90%;
    padding: 0;
}

#contacts,
#chat {
    height: 100%;
}

#contacts-header,
#chat-header {
    height: 80px;
    background-color: #eaeaea;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    object-fit: cover;
    object-position: center;
}

.options i {
    margin: 0 10px;
}

.banner {
    background-color: #8edafc;
}

.bell-notification {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 11.5px 10px;
}

.bell-notification i {
    font-size: 25px;
    color: #8edafc;
}

.banner-text a {
    color: rgb(100, 100, 100);
}

#search-bar {
    height: 50px;
    background-color: rgb(255, 244, 244);
}

#search-lens {
    background-color: white;
}

#contacts-list .user-info {
    background-color: white;
}

#contacts-list .user-info.clicked {
    background-color: #e9ebeb;
}

.latest-message-time {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12.5px;
}

#messages {
    height: calc(100% - 140px);
    background-image: url('../img/mine.jpg');
}

.message {
    border-radius: 12px;
    padding: 10px;
    position: relative;
}

.message.received-message {
    background-color: white;
}

.message.sent-message {
    background-color: #d5f9ba;
}

.message i {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.message-time {
    font-size: 12px;
    position: absolute;
    right: 8px;
    bottom: 0px;
}

#message-input {
    height: 60px;
    background-color: #f3eeea;
}

#write-mex {
    width: 700px;
    height: 40px;
    border: none;
    border-radius: 8px;
}

#message-input i {
    font-size: 25px;
    padding: 0 1rem;
}